/* Neste arquivo estão definidas as classes e configurações mínimas para serem usadas na estilização do trabalho final da disciplina Dersenvolvimento Web I. Ele foi criado a partir do modelo em W3Schools */


* {
    box-sizing: border-box;
}

/* Estilização para o body */
body {
    font-family: Arial;
    margin: 0;
}

/* Título para o site */
.header {
	text-align:justify;
 padding: 20px;
    text-align: center;
    background-color:#fafc80;
	
}


.header h1 {
	font-size: 8 px
}

/* Estilo para a barra de navegação */
.navbar {
    overflow: hidden;
    background-color:#00035b
}

/* Estilo para os links da barra de navegação */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Link alinhado à direita */
.navbar a.right { 
    float: right;
}

/* Troca a cor de fundo e texto quando o mouse paira sobre o link*/
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Container de colunas */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Cria duas colunas desiguais próximas */
/* Coluna Sidebar esquerda */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%; /* A propriedade "flex" deixa todos os itens flexíveis terem o mesmo tamanho, independentemente do conteúdo*/
    background-color:#93bcff;
    text-align:justify;
	color: white;
	padding: 0px;
	
}

/* Coluna principal */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color:#afffb9;
	text-align:justify;
	color: black;
    padding: 30px;
}



/* Rodapé */
.footer {
    padding: 20px;
    text-align: center;
    background-color:#fafc80;
	
}

/* Layout responsivo - Faz o empilhamento das colunas quando a largura da tela estiver menor que 700px */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Layout responsivo - Faz o empilhamento dos links quando a tela estiver menor que 400px */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
.flutuar {
		float:left;
	margin:0 auto;
	padding:40px;

}